# 忽略環境設定檔與編譯後的 Python 檔案
.env
*.pyc
__pycache__/

# 忽略應用程式的設定檔案
settings.json

# 忽略資料庫檔案與向量儲存
data/channel_configs
data/*.json
data/*.sqlite
data/vector_store
data/schedule_data/
data/schedule/*.yaml
data/serverconfig
!data/schedule/template.yaml

# 忽略模型與日誌檔案
models/
logs/
lavalink/

# 忽略特定的瀏覽器驅動檔案
chromedriverlinux64/

# 忽略特定檔案
school
temp