# Core Dependencies
aiohttp==3.13.2
beautifulsoup4==4.14.2
dateparser==1.2.2
decord==0.6.0
discord.py==2.6.4
numpy==2.2.6
OpenCC==1.1.9
opencv-python==4.12.0.88
pdf2image==1.17.0
Pillow==12.0.0
pydantic==2.12.4
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
Requests==2.32.5
selenium==4.38.0
setuptools
scikit-image==0.25.2
SQLAlchemy==2.0.44
sympy==1.14.0
webdriver-manager==4.0.2
Whoosh==2.7.4
youtube-search==2.1.2
yt-dlp==2025.11.12

# LangChain
langchain==1.0.5
langchain-core==1.0.4
langchain-google-genai==3.0.2
langchain-huggingface==1.0.1
langchain-ollama==1.0.0
langchain-openai==1.0.2

# Vector Database
qdrant-client==1.15.1

# PyTorch
torch==2.9.0
torchaudio==2.9.0
torchvision==0.24.0
```
