absl-py==2.1.0
accelerate==0.27.2
aiofiles==23.2.1
aiohttp==3.8.6
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.6.0
anyio==4.3.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
Automat==22.10.0
beautifulsoup4==4.11.1
bidict==0.23.1
bitsandbytes==0.42.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1704278392174/work
constantly==23.10.4
contourpy==1.2.1
cryptography==42.0.5
cssselect==1.2.0
ctransformers==0.2.27
cycler==0.12.1
dataclasses-json==0.6.6
datasets==2.17.1
debugpy @ file:///croot/debugpy_1690905042057/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
Deprecated==1.2.14
diffusers==0.27.2
dill==0.3.8
dirtyjson==1.0.8
discord-py-interactions==5.11.0
discord-py-slash-command==4.2.1
discord-typings==0.7.0
discord.py==2.3.2
diskcache==5.6.3
distro==1.9.0
dnspython==2.2.1
docstring_parser==0.16
emoji==2.10.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fastapi==0.110.1
ffmpy==0.3.2
filelock==3.13.1
Flask==2.2.3
Flask-SocketIO==5.3.2
flatbuffers==24.3.25
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2023.10.0
gast==0.5.4
gdown==5.1.0
git-lfs==1.6
google-api-core==2.19.0
google-auth==2.29.0
google-cloud-aiplatform==1.51.0
google-cloud-bigquery==3.23.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.3
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-images-download==2.8.0
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
googlesearch-python==1.2.4
gradio==4.26.0
gradio_client==0.15.1
greenlet==3.0.3
grpc-google-iam-v1==0.13.0
grpcio==1.63.0
grpcio-status==1.62.2
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.20.3
humanize==4.0.0
hyperlink==21.0.0
idna==3.6
imageio==2.34.1
importlib_metadata==7.1.0
importlib_resources==6.4.0
incremental==22.10.0
install==1.3.5
invisible-watermark==0.2.0
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1707326244187/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1706795662110/work
ipywidgets==8.1.3
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
jieba @ git+https://github.com/APCLab/jieba-tw.git@2bd4c0913cdadc865879b21a00c78e28ef1ba2c5
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1654730843242/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1704727030956/work
jupyterlab_widgets==3.0.11
keras==3.3.3
kiwisolver==1.4.5
langchain==0.2.0
langchain-community==0.2.0
langchain-core==0.2.0
langchain-google-vertexai==1.0.4
langchain-text-splitters==0.2.0
langsmith==0.1.60
lavalink==5.2.0
lazy_loader==0.4
libclang==18.1.1
llama-index-core==0.10.40
llama-index-llms-llama-cpp==0.1.3
llama_cpp_python==0.2.76
llamaindex-py-client==0.1.19
lxml==5.1.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.2
matplotlib==3.8.4
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl==0.1.2
ml-dtypes==0.3.2
motor==3.3.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
namex==0.0.8
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx==3.2.1
nltk==3.8.1
numpy==1.26.3
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.3.4.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.3.107
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.3.101
nvidia-cudnn-cu11==8.7.0.84
nvidia-cudnn-cu12==8.9.7.29
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.19.3
nvidia-nvtx-cu11==11.8.86
onnx==1.15.0
openai==1.30.5
opencv-python==4.9.0.80
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.0
outcome==1.3.0.post0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==2.2.0
parsel==1.8.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
peft==0.9.0
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==10.2.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1706713388748/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
Protego==0.3.0
proto-plus==1.23.0
protobuf==4.25.3
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py-cpuinfo==9.0.0
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.7.0
pydantic_core==2.18.1
PyDispatcher==2.0.7
pydub==0.25.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
pymongo==4.6.1
pyOpenSSL==24.0.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==0.20.0
python-engineio==4.9.0
python-multipart==0.0.9
python-socketio==5.11.1
pytz==2024.1
PyWavelets==1.6.0
PyYAML==6.0.1
pyzmq @ file:///croot/pyzmq_1705605076900/work
queuelib==1.6.2
referencing==0.34.0
regex==2023.12.25
requests==2.31.0
requests-file==2.0.0
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
ruff==0.3.7
safetensors==0.4.2
scikit-image==0.23.2
scikit-learn==1.4.2
scipy==1.12.0
Scrapy==2.11.1
selenium==4.21.0
semantic-version==2.10.0
sentencepiece==0.2.0
service-identity==24.1.0
shapely==2.0.4
shellingham==1.5.4
simple-websocket==1.0.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.27
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.37.2
sympy==1.12
tenacity==8.3.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow-io-gcs-filesystem==0.37.0
tensorrt==8.6.1.post1
tensorrt-bindings==8.6.1
tensorrt-libs==8.6.1
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.5.10
tiktoken==0.7.0
timm==1.0.3
tldextract==3.2.1
tokenizers==0.19.1
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.2.0+cu118
torchaudio==2.2.0+cu118
torchvision==0.17.0+cu118
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827254365/work
tqdm==4.66.2
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1704212992681/work
transformers==4.40.2
trio==0.24.0
trio-websocket==0.11.1
triton==2.2.0
trl==0.4.7
Twisted==23.10.0
typer==0.12.3
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1702176139754/work
tzdata==2024.1
urllib3==2.2.1
uvicorn==0.29.0
validators==0.18.2
w3lib==2.1.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
websockets==10.4
Werkzeug==3.0.1
widgetsnbextension==4.0.11
wrapt==1.16.0
wsproto==1.2.0
xxhash==3.4.1
yarl==1.9.4
youtube-search==2.1.2
zhconv==1.4.3
zipp==3.18.2
zope.interface==6.2
